In [1]:
import numpy as np

import random

import pandas as pd

random.seed(1)

In [2]:
class Missingness_mechanism:
    
    def __init__(self,d,n,p):
        #Dimension
        self.d = d
        #Number of observations
        self.n = n
        #MCAR Bernoulli prob.
        self.p = p
    
    def data(self):
        return pd.DataFrame(np.random.uniform(0,1,size=(self.n, self.d)))
    
    #MCAR missing data mechanism
    def mcar(self):
        return pd.DataFrame(np.random.binomial(size=(self.n,self.d), n=1, p= self.p))
    
    #Callable function that depends on missingness mechanism
    def data_missing(self):
        return lambda x: self.data()[x == 1]
    
    #Complete case analysis
    def cc(self):
        return lambda x: self.data_missing()(x).dropna()

In [3]:
test = Missingness_mechanism(8,100,0.7)

df = test.data()

mcar = test.mcar()

z = test.data_missing()(mcar)

cc = test.cc()(mcar)

In [4]:
cc

,0,1,2,3,4,5,6,7
19,0.422482,0.945800,0.203317,0.863953,0.665153,0.853488,0.555487,0.254581
35,0.885702,0.869726,0.879412,0.212815,0.243301,0.424836,0.422784,0.770975
68,0.504854,0.716459,0.260196,0.365090,0.843968,0.422844,0.986143,0.607561
81,0.213158,0.206219,0.586748,0.715471,0.008164,0.855848,0.844314,0.059469
99,0.320071,0.707991,0.583096,0.513449,0.723596,0.575926,0.872465,0.418425