In [1]:
import numpy as np

import random

import pandas as pd

random.seed(1)

from emukit.test_functions.sensitivity import Ishigami

In [2]:
class Missingness_mechanism:
    
    def __init__(self,d,n,p):
        #Dimension
        self.d = d
        #Number of observations
        self.n = n
        #MCAR Bernoulli prob.
        self.p = p
        
        self.df = pd.DataFrame(np.random.uniform(0,1,size=(self.n, self.d)))
    
    def ishigami(self):
        return lambda a, b: np.sin(self.df[0]) + a * np.sin(self.df[1])**2 + b * (self.df[2])**4 * np.sin(self.df[0])
        
    #MCAR missing data mechanism
    def mcar(self):
        return pd.DataFrame(np.random.binomial(size=(self.n,self.d), n=1, p= self.p))
    
    #Callable function that depends on missingness mechanism
    def data_missing(self):
        return lambda x: self.df[x == 1]
    
    def sample(self, a, b):
        return self.data_missing()(self.mcar()).assign(Y = self.ishigami()(a, b))
    
    #Complete case analysis
    def cc(self):
        return lambda x: self.data_missing()(x).dropna()

In [6]:
a = 1
b = 1

# Test functions 

test = Missingness_mechanism(8,100,0.7)

mcar = test.mcar()

z = test.data_missing()(mcar)

cc = test.cc()(mcar)

y = test.ishigami()(a,b)

sample = test.sample(a,b)

In [7]:
sample

,0,1,2,3,4,5,6,7,Y
0,0.352560,0.375636,0.854464,0.882849,0.938569,NaN,0.382663,NaN,0.663957
1,0.951263,NaN,0.648913,0.188513,0.768866,0.003077,NaN,0.735719,1.512203
2,NaN,0.386845,NaN,0.740184,0.367507,NaN,0.356994,0.609461,0.630126
3,0.447032,NaN,NaN,0.144445,0.004219,0.495902,0.733666,0.339136,0.644523
4,0.920836,0.655517,NaN,NaN,NaN,0.623706,0.994088,0.097650,1.329066
...,...,...,...,...,...,...,...,...,...
95,0.021935,0.094944,0.572709,NaN,0.213561,0.776560,0.486945,0.882532,0.033280
96,NaN,0.873822,0.020807,NaN,0.118946,0.847150,0.506705,0.300258,1.281951
97,0.222100,0.819470,0.087998,0.206035,0.972894,NaN,NaN,0.234674,0.754337
98,NaN,0.466816,0.340658,0.874991,0.926338,0.724879,NaN,0.678262,1.036309
99,NaN,0.499376,NaN,0.123576,0.274127,NaN,0.540808,NaN,1.454928

,0,1,2,3,4,5,6,7,Y
0,0.443490,0.858728,NaN,0.302104,0.951481,0.308827,0.655732,NaN,1.002164
1,0.713582,NaN,NaN,NaN,0.624280,0.046659,NaN,0.265913,0.984107
2,0.483692,0.728726,0.646082,0.569125,NaN,NaN,0.601225,0.477510,0.989531
3,0.286713,0.522751,NaN,0.365157,0.079668,0.306670,0.484649,0.791299,0.532079
4,0.766730,0.009625,0.034382,0.051820,0.452574,0.656998,NaN,NaN,0.693878
...,...,...,...,...,...,...,...,...,...
95,NaN,0.651813,NaN,0.695756,0.471135,0.980892,0.998786,0.590631,0.760912
96,0.810493,NaN,0.949450,0.358903,0.402874,0.992865,NaN,0.199514,1.496879
97,0.081618,0.504038,0.763571,NaN,0.753223,0.598274,NaN,0.591942,0.342496
98,NaN,NaN,0.970172,NaN,NaN,0.740338,0.865298,0.298934,1.057276
99,0.518687,0.194254,0.461741,0.044296,NaN,0.779993,0.892920,0.664156,0.555537